<script src="https://www.google.com/recaptcha/api.js"></script>
<div class="container">
	<div class="row">
		<div class="col3"></div>
		<div class="col6">
			<form action="{{SITE_URL}}/messages" class="box vertical" id="formMessage" method="post">
				<label for="message">Mensagem:</label>
				<textarea id="message" name="message" maxlength="128" minlength="1" required></textarea>
				<button type="submit" class="g-recaptcha" 
        data-sitekey="{{RECAPTCHA_PUBLIC_KEY}}" 
        data-callback='onSubmit' 
        data-action='submit'>Enviar</button>
			</form>
			<hr>
			<h2 class="box">Mensagens</h2>
			{{#messages}}
			<p class="box">
				{{message}}
			</p>
			<p class="box">
				<small>
					<a href="{{link_to}}" x-spa>
						{{created_at_h}}
					</a>
				</small>
			</p>
			<hr>
			{{/messages}}
		</div>
	</div>
</div>